:root {
    --primary-blue: #041133;
}

@font-face {
    font-family: beyno;
    src: url(../font/BEYNO.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-blue);
}

header .brand {
    margin-left: 20px;
}

.conteneur {
    margin: 0 20px
}


/* header img:nth-of-type(2) {
    margin-top: -50px;
} */

header nav {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'beyno';
}

header nav ul {
    padding: 0;
    display: none;
}

.fa-ellipsis {
    cursor: pointer;
}

.visible {
    display: block;
}

header nav ul li {
    list-style: none;
    margin-bottom: 10px;
}

header div:nth-of-type(2),
.img-description {
    display: none;
}

main .description {
    background: url('../img/Pantherhome1.png') no-repeat, #041133;
    background-position: center;
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
}

main .description .icones {
    position: fixed;
    display: flex;
    gap: 5px;
    top: 30vh;
    margin-left: 20px;
    flex-direction: column;
}

main .description .icones a {
    opacity: .5;
    transition: .8s;
}

main .description .icones a:hover {
    opacity: 1;
}

main .description h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'beyno', Arial, Helvetica, sans-serif;
}

main .description h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: 'beyno', Arial, Helvetica, sans-serif;
}

.card-container {
    background: var(--primary-blue);
}

.card-container h2 {
    font-size: 1rem;
    margin-bottom: 7px;
    font-family: 'beyno', Arial, Helvetica, sans-serif;
}

.card-container .card:nth-of-type(1) .card-text {
    width: 360px;
    margin: 0 auto;
}

.card-container .card:nth-of-type(2) .card-text {
    width: 300px;
    margin: 0 auto;
}

.card-container .card:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 25px;
}

.card-container .card .card-img {
    text-align: center;
}

.Tchalla {
    background: var(--primary-blue);
}

.Tchalla .card {
    text-align: center;
}

.Tchalla .card-text .text {
    text-align: left;
}

.Tchalla .conteneur {
    margin: 0 30px;
}

.Tchalla .pantherhome6 {
    width: 400px;
}

.contact-us {
    background: url(../img/Pantherhome7.png) #000000;
    background-position-y: 100%;
    height: 430px;
}

.contact-us .formulaire {
    /* max-width: 700px; */
    padding: 40px 0;
    text-align: center;
}

.contact-us .formulaire .form {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 40px;
    background: #c3c3cb70;
}

.contact-us .formulaire form {
    display: grid;
    place-items: center;
}

input[type="text"],
input[type="email"] {
    width: 250px;
    /* max-width: 600px; */
    border-radius: 30px;
}

textarea {
    width: 250px;
    /* max-width: 600px; */
    border-radius: 30px;
}

input[type="submit"] {
    border-radius: 30px;
    padding: 5px 25px;
}

footer {
    padding: 20px 0;
    background: var(--primary-blue);
}

footer .conteneur {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

footer .retrouvez-nous,
footer .droits {
    text-align: center;
}

.retrouvez-nous a {
    margin: 0 5px;
}

footer .brand {
    text-align: center;
}

footer .pages {
    display: none;
}

footer .droits p {
    padding: 10px 0;
}

@media screen and (min-width:768px) {
    nav,
    .img-description {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
    }
    header .brand {
        padding-top: 7px;
    }
    header div a {
        color: #fff;
        font-size: 17px;
        font-family: 'beyno';
        text-decoration: none;
    }
    header div:nth-of-type(2) {
        display: flex;
        margin-right: 30px;
    }
    header div:nth-of-type(2) a {
        padding-right: 30px;
    }
    hr {
        display: none;
    }
    .card-container {
        display: flex;
    }
    .home4 {
        display: none;
    }
    .retrouvez-nous a {
        margin: 0 5px;
    }
    footer .droits p {
        padding: 10px 0;
    }
}

@media screen and (min-width:1100px) {
    header div a {
        font-family: 'beyno';
    }
    header .brand {
        margin-left: 80px;
    }
    main .description {
        display: flex;
        background: #041133;
    }
    main .img-description {
        display: block;
    }
    .img-description img {
        width: 600px;
    }
    main .description .conteneur {
        padding-top: 100px;
        margin-left: 80px;
    }
    .card-container {
        overflow: hidden;
    }
    .card-container .card:nth-of-type(1) {
        width: 600px;
    }
    .card-container .card:nth-of-type(1)::before {
        content: '';
        width: 30px;
        height: 230px;
        background: #011740;
    }
    .card-container .card:nth-of-type(2) {
        margin-left: 0;
    }
    .home4 {
        width: 150px;
        display: inline;
    }
    .card-container .card {
        display: flex;
        align-items: center;
    }
    .card-container .card .conteneur {
        margin: 0;
    }
    .home2 {
        width: 270px;
    }
    .home3 {
        width: 200px;
    }
    .card-text {
        height: 230px;
        padding: 10px 20px;
        background: #011740;
    }
    .Tchalla {
        display: flex;
        padding-top: 70px;
        justify-content: space-between;
    }
    .Tchalla>.conteneur {
        width: 40%;
        margin-left: 10%;
    }
    .Tchalla .home5 {
        top: -17%;
        left: 20%;
        width: 50%;
        position: absolute;
    }
    .Tchalla .card {
        position: relative;
        margin-top: 8%;
    }
    .Tchalla .card .card-text {
        width: 350px;
        height: 450px;
        color: #000000;
        background: #ffffff;
        padding-top: 100px;
    }
    .Tchalla .card-text {
        margin-top: 50px;
    }
    .contact-us {
        height: 700px;
    }
    .retrouvez-nous a {
        margin: 0 5px;
    }
    footer .footer-container {
        display: flex;
        margin: 0 50px;
        align-items: center;
        justify-content: space-between;
    }
    footer .pages {
        display: flex;
    }
    footer .pages a {
        color: inherit;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
    footer .droits {
        display: flex;
        margin: 0 50px;
        padding: 20px 0;
        justify-content: space-between;
    }
}

@media screen and (min-width:1700px) {
    .card-container {
        justify-content: center;
    }
    .card-container .card:nth-of-type(1)::before {
        width: 0;
    }
}